*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto!';
}
@font-face{
    font-family: 'Roboto!';
    src: local('Roboto');
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;

}
@font-face{
    font-family: 'Roboto!';
    src: local('Roboto');
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
body{
    background-color: #D5DAE4;
    width: 1200px;
    margin: 0 auto;
    color: #5C6168;
}
header{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #FFFFFF;
    margin: 20px 0;
}
nav{
    /* margin-bottom: 10px; */
    margin: 7px auto ;
}
nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0;
}
nav li{
    display: inline;
    margin-right: 100px;
}
.line{
    height: 3px;
    width: 55px;
    background:#5C6168;
    margin: 0;

}
.right-line{
    width: 150px;
    margin-left: -45px;
}
nav a{
    color: #5C6168;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

li:last-child{
    margin-right: 0px;
}
main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 40px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
}
.info a{
    text-decoration: none;
}
.info li{
    margin-bottom: 7px;
}
.foto img{
    border-radius: 100%;
    height: 8rem;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.contacts{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    p {
        margin: 0;
    }
}
.wrapper{
    display: flex;
    flex-direction: row;
    gap: 15rem;
}
.left-wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
}
.wrapper ul{
    padding-left: 15px;
    text-align: left;
 }
.education ul{
    text-align: left;
    list-style-type: none;
    padding: 0;
}
.right-wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    margin-bottom: 10px;
    margin: 0 auto;
    padding-top: 15px;
    background-color: #FFFFFF;
}
footer img{
    height: 26px;
    width: 70px;
}
footer a{
    text-decoration: none;
}